.anchor {
    display: block;
    border-color: rgba(250, 122, 11, 0.8);
    border-width: thin;
    border-left-style: solid;
    border-top-style: solid;

}

.problem {
    display: block;
}

.children_box {
    padding-left: 2%;
}

.reply_problem {
    display: block;
    alignment: right;
}


.problem_box {
    display: block;
    border-color: rgba(250, 122, 11, 0.8);
    border-width: thin;
    border-left-style: solid;
    border-top-style: solid;
    padding: 1%;
}

.id {
    font-size: x-small;
}

.problem_form {
    display: block;
    border-color: rgba(250, 122, 11, 0.8);
    border-width: thick;
    border-style: solid;
    padding: 2%;
    margin-bottom: 1%;
}

.closed {
    display: block;
    border-color: #363636;
    background-color: rgb(26, 26, 26);
    border-width: medium;
    color: #494949;
}

.claimed {
    display: block;
    border-color: rgb(247, 0, 255);
    border-width: medium;
    background-color: rgb(68, 30, 133);
}

.available {
    display: block;
    border-width: medium;
    border-color: #047c00;
    background-color: rgb(5, 42, 3);
}

.comment {
    display: block;
    border-width: medium;
    border-color: #fa7a0b;
    background-color: rgb(24, 41, 65);
    margin-bottom: 2%;
}