.anchor {
    display: block;
    border-color: rgba(250, 122, 11, 0.8);
    border-width: thin;
    border-left-style: solid;
    border-top-style: solid;

}

.problem {
    display: block;
    padding: 6px;
}

.children_box {
    padding-left: 2%;
}

.reply_problem {
    display: block;
    alignment: right;
}